# Movie Recommendation System

Data Source: https://www.kaggle.com/datasets/dev0914sharma/dataset?select=Dataset.csv

## Import Libraries

In [24]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

## Read Data

In [2]:
df_history = pd.read_csv("data\Dataset.csv")
df_movies = pd.read_csv("data\Movie_Id_Titles.csv")

In [6]:
df_history.head()

   user_id  item_id  rating  timestamp
0        0       50       5  881250949
1        0      172       5  881250949
2        0      133       1  881250949
3      196      242       3  881250949
4      186      302       3  891717742

In [7]:
df_movies.head()

   item_id              title
0        1   Toy Story (1995)
1        2   GoldenEye (1995)
2        3  Four Rooms (1995)
3        4  Get Shorty (1995)
4        5     Copycat (1995)

In [8]:
print(df_history.shape)
print(df_movies.shape)

(100003, 4)
(1682, 2)

## Clean & Merge Data

In [11]:
print("No. of missing values in df_history: ", df_history.isna().sum().sum())
print("No. of missing values in df_movies: ", df_movies.isna().sum().sum())

No. of missing values in df_history:  0
No. of missing values in df_movies:  0

There is no missing value in both datasets.

In [21]:
df_history['rating'].value_counts().sort_index()

1     6111
2    11370
3    27145
4    34174
5    21203
Name: rating, dtype: int64

In [25]:
df = pd.merge(df_history, df_movies, on='item_id')

In [27]:
# Convert timestamp
df['timestamp'] = df['timestamp'].apply(lambda x: datetime.fromtimestamp(x))

In [28]:
df.head()

   user_id  item_id  rating           timestamp             title
0        0       50       5 1997-12-04 23:55:49  Star Wars (1977)
1      290       50       5 1997-11-25 23:59:42  Star Wars (1977)
2       79       50       4 1998-03-30 23:25:45  Star Wars (1977)
3        2       50       5 1998-02-27 12:01:24  Star Wars (1977)
4        8       50       5 1997-11-13 03:15:24  Star Wars (1977)